html {
  font-size: 62.5%;
}
body {
  font-family: Menlo, Monaco, monospace;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666666;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #000000;
}
body time {
  color: #cccccc;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
