@import "assets/normalize/normalize.css";

@import url(http://fonts.googleapis.com/css?family=Raleway);

@import url(http://fonts.googleapis.com/css?family=Merriweather);

.muted {
  color: #cccccc;
}

body {
  margin: 0.5em;
  font-family: 'Merriweather', Menlo, Monaco, monospace;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666666;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Raleway', Menlo, Monaco, monospace;
  color: #000000;
}

body time {
  color: #cccccc;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}