// # Headings
//
// Headings 1–6, with corresponding Greek-alphabet abstract classes for double-
// stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
//
//    <h1>Heading 1</h1>
//    <h2>Heading 2</h2>
//    <h3>Heading 3</h3>
//    <h4>Heading 4</h4>
//    <h5>Heading 5</h5>
//    <h6>Heading 6</h6>
//
//    <p class="alpha">Paragraph alpha</p>
//    <p class="beta">Paragraph beta</p>
//    <p class="gamma">Paragraph gamma</p>
//    <p class="delta">Paragraph delta</p>
//    <p class="epsilon">Paragraph epsilon</p>
//    <p class="zeta">Paragraph zeta</p>
h1,
.alpha,
%alpha {
  @include font-size($heading-size-1);
  text-align: center;
}

h2,
.beta,
%beta {
  @include font-size($heading-size-2);
  text-align: center;
}

h3,
.gamma,
%gamma {
  @include font-size($heading-size-3);
  text-align: center;
}

h4,
.delta,
%delta {
  @include font-size($heading-size-4);
  text-align: center;
}

h5,
.epsilon,
%epsilon {
  @include font-size($heading-size-5);
  text-align: center;
}

h6,
.zeta,
%zeta {
  @include font-size($heading-size-6);
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-headings-font-family;
}
