// # Code
//
//

/**
 * Use an explicit font stack to ensure browsers render correct `line-height`.
 */
pre{
  font-size: ($base-font-size * 0.6 / 16px) * 1em;
  overflow:auto;
  white-space:pre;
  word-wrap:normal;
  background-color:#333;
  overflow:auto;
  color:#fff;
  @include rounded(2px);
  @include shadow(0, 0, 15px, rgba(0,0,0,0.25));

  mark{
    background:none;
    border-bottom:1px solid;
    color:inherit;
  }
}
