// # Base anchors
//
// It's all about links and anchors







// # Basic link
//
// Determine the color of link
//
//     <a href="#">This is a link</a>
//
// `:hover` highlight the link when hovered.
//
//     <a href="#" class=":hover">This is a link</a>
a {
  color: $inuit-base-text-color;

  &:hover {
    color: #ff0000;
  }
}






// # No underlined link
//
// If you do not want to underline a link
//
//     <a href="#" class="no-underline">This is a link</a>
//
// `:hover` highlight & undeline the link when hovered.
//
//     <a href="#" class="no-underline :hover">This is a link</a>
.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
