// # Settings defaults
//
// Let's set the main variables
//
// No styleguide reference.





// # Fonts
//
// Everythings about the fonts
//
// No styleguide reference.
$base-font-family          : 'freight-display-pro', Georgia, serif;
$base-headings-font-family : "ff-dax-compact-web-pro", serif;
$base-font-size            : 20px;
$base-line-height          : 28px;





// ## Headings
//
// Headings size is set here
$heading-size-1: 40px;
$heading-size-2: 32px;
$heading-size-3: 24px;
$heading-size-4: 20px;
$heading-size-5: 17px;
$heading-size-6: 13px;
$text-size-small: $heading-size-6;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$base-spacing-unit:       $base-line-height;





// # Colors
//
// It's all about the colors
$base-text-color:       #333;
$base-muted-color:      #999;
$base-primary-color:    #ff5867;
$base-background-color: #fff;
$base-header-color:     $base-primary-color;





// # Breakpoints
$base-break-xs: 500px;
$base-break-sm: 900px;
$base-break-md: 1200px;





// # Container width
$base-container-width: 750px;





// # Spacing
//
// InuitCSS settings for margin and spacing
$enable-margins: true;
$enable-paddings: true;

$enable-margins--none: true;

$enable-margins--large:   true;
$enable-paddings--large:  true;





// # Header images
$base-header-height: 100%;
