// # Settings defaults
//
// Let's set the main variables
// This is for no-inuitcss variables are sets





// # Font settings
//
// Everythings about the fonts
//
// No styleguide reference.
$base-font-family:          "freight-text-pro", Georgia, serif;
$base-headings-font-family: "ff-dax-compact-web-pro", serif;
$base-code-font-family:     "inconsolata", Courier, monospace;





// # Colors
//
// It's all about the colors
$base-primary-color:    #ff5867;





// # Breakpoints
$base-break-xs: 500px;
$base-break-sm: 900px;
$base-break-md: 1200px;
