
//------------------------------------//
//    $IMPORT ASSETS
//------------------------------------//

@import 'assets/normalize/normalize.css';






//------------------------------------//
//    $VARIABLES
//------------------------------------//

@import 'lib/variables.less';






//------------------------------------//
//    $BASE ELEMENTS
//------------------------------------//

@import 'lib/heading.less';




@font-main: 'Merriweather', Menlo, Monaco, monospace;
@font-header: 'Raleway', Menlo, Monaco, monospace;

// Raleway font import
@import url(http://fonts.googleapis.com/css?family=Raleway);
// Merriweather font import
@import url(http://fonts.googleapis.com/css?family=Merriweather);


// Muted
// -------------------
.muted {
  color: @color-muted;
}


// Style
// --------------------

body {
  font-family: @font-main;
  font-size: 1.4rem;
  line-height: 1.5;
  color: @color-typo;

  margin: 0.5em;

  time {
    .muted;
  }
}


// Link
// -------------------
a {
  color: @color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


