// Variables
// --------------------

@color-typo: #666;
@color-muted: #ccc;
@color-heading: #000;
@color-link: #000;


@import "assets/normalize/normalize.css";


@font-main: 'Merriweather', Menlo, Monaco, monospace;
@font-header: 'Raleway', Menlo, Monaco, monospace;

// Raleway font import
@import url(http://fonts.googleapis.com/css?family=Raleway);
// Merriweather font import
@import url(http://fonts.googleapis.com/css?family=Merriweather);


// Muted
// -------------------
.muted {
  color: @color-muted;
}


// Style
// --------------------

html {
  //font-size: 62.5%;
}

body {
  font-family: @font-main;
  font-size: 1.4rem;
  line-height: 1.5;
  color: @color-typo;

  margin: 0.5em;

  // heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: @font-header;
    color: @color-heading;
  }

  time {
    .muted;
  }
}


// Link
// -------------------
a {
  color: @color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


