[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/alb/static/frontend"]
	path = themes/alb/static/frontend
	url = https://alienlebarge@github.com/alienlebarge/frontend.git
