---
layout: default
title: "Articles"
---

<div class="container ph pb">

  <header class="pt+">
    <h1><span class="side-element"><img data-src="{{ site.iconic_url }}svg/smart/inkwell.svg" class="iconic iconic-md" alt="inkwell"></span>{{ page.title }}</h1>
  </header>

  <ul class="list-bare">
    {% for post in site.posts %}
    <li class="mb">
          <span class="beta">{% if post.external-site %} on  {{ post.external-site }} <img data-src="{{ site.iconic_url }}svg/smart/external-link.svg" data-fallback="{{ site.iconic_url }}png/black/standard/external-link-sm.png" src="{{ site.iconic_url }}png/black/standard/external-link-sm.png" class="iconic iconic-sm" alt="external-link">{% endif %} <a href="{{ post.url }}">{{ post.title }}</a></span>
          <br><time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="meta">{{ post.date | date: "%b %d, %Y" }}</time>
      </li>
    {% endfor %}
  </ul>

</div>
