---
layout: default
title: "Experiences"
---

<header>
  <h1>{{ page.title }}</h1>
</header>

<p>Here's a list of my differents jobs, studies and some of my side projects.<br>All these informations are available on <a href="http://ch.linkedin.com/in/cedricaellen">Linkedin</a>.</p>

{% for experience in site.data.experiences %}
<article>
  <header>
    <h2>{{ experience.title }}</h2>
    <p>
      {{ experience.startDate | date: "%B %Y" }} -
      {% if experience.endDate %}
        {{ experience.endDate | date: "%B %Y" }}
      {% elsif experience.endDate == null %}
        Now
      {% endif %}
    </p>
  </header>
  {% if experience.description %}
  <p>
    {{ experience.description }}
  </p>
  {% endif %}
</article>
{% endfor %}
