---
layout: default
title: "Experiences"
---

<div class="container ph pb">

  <header class="pt+">
    <h1>{{ page.title }}</h1>
  </header>

  {% for experience in site.data.experiences %}
  <h2 class="mb0">{{ experience.title }}</h2>
  <p class="meta">
    {% if experience.category == 'job' %}
    <img data-src="{{ site.iconic_url }}svg/smart/briefcase.svg" class="iconic iconic-sm" alt="brain">
    {% elsif experience.category == 'studies' %}
    <img data-src="{{ site.iconic_url }}svg/smart/book.svg" class="iconic iconic-sm" alt="brain">
    {% elsif experience.category == 'sideproject' %}
    <img data-src="{{ site.iconic_url }}svg/smart/beaker.svg" class="iconic iconic-sm" alt="brain">
    {% endif %}

    {{ experience.startDate | date: "%B %Y" }} -
    {% if experience.endDate %}
      {{ experience.endDate | date: "%B %Y" }}
    {% elsif experience.endDate == null %}
      Now
    {% endif %}
  </p>
  {% if experience.description %}
  <p>
    {{ experience.description }}
  </p>
  {% endif %}
  {% endfor %}

</div>
