---
layout: default
title: "Experiences"
---

<div class="container ph pb">

  <header class="pt+">
    <h1>{{ page.title }}</h1>
  </header>

  <p>Here's a list of my differents jobs <img data-src="{{ site.iconic_url }}svg/smart/briefcase.svg" src="{{ site.iconic_url }}png/black/standard/briefcase-sm.png" class="iconic iconic-sm" alt="briefcase">, studies <img data-src="{{ site.iconic_url }}svg/smart/book.svg" src="{{ site.iconic_url }}png/black/standard/book-sm.png" class="iconic iconic-sm" alt="book"> and some of my side projects <img data-src="{{ site.iconic_url }}svg/smart/beaker.svg" src="{{ site.iconic_url }}png/black/standard/beaker-sm.png" class="iconic iconic-sm" alt="beaker">.<br>All these informations are available on <a href="http://ch.linkedin.com/in/cedricaellen">Linkedin</a>.</p>

  {% for experience in site.data.experiences %}
  <article style="position:relative;">
    <header>
      <h2 class="mb0"><span class="side-element hidden-portable">
        {% if experience.category == 'job' %}
        <img data-src="{{ site.iconic_url }}svg/smart/briefcase.svg" src="{{ site.iconic_url }}png/black/standard/briefcase-md.png" class="iconic iconic-md" alt="briefcase">
        {% elsif experience.category == 'studies' %}
        <img data-src="{{ site.iconic_url }}svg/smart/book.svg" src="{{ site.iconic_url }}png/black/standard/book-md.png" class="iconic iconic-md" alt="book">
        {% elsif experience.category == 'sideproject' %}
        <img data-src="{{ site.iconic_url }}svg/smart/beaker.svg" src="{{ site.iconic_url }}png/black/standard/beaker-md.png" class="iconic iconic-md" alt="beaker">
        {% endif %}
      </span>{{ experience.title }}</h2>
      <p class="meta">
        <span class="hidden-desk">
          {% if experience.category == 'job' %}
          <img data-src="{{ site.iconic_url }}svg/smart/briefcase.svg" src="{{ site.iconic_url }}png/black/standard/briefcase-md.png" class="iconic iconic-sm" alt="briefcase">
          {% elsif experience.category == 'studies' %}
          <img data-src="{{ site.iconic_url }}svg/smart/book.svg" src="{{ site.iconic_url }}png/black/standard/book-md.png" class="iconic iconic-sm" alt="book">
          {% elsif experience.category == 'sideproject' %}
          <img data-src="{{ site.iconic_url }}svg/smart/beaker.svg" src="{{ site.iconic_url }}png/black/standard/beaker-md.png" class="iconic iconic-sm" alt="beaker">
          {% endif %}
        </span>
        {{ experience.startDate | date: "%B %Y" }} -
        {% if experience.endDate %}
          {{ experience.endDate | date: "%B %Y" }}
        {% elsif experience.endDate == null %}
          Now
        {% endif %}
      </p>
    </header>
    {% if experience.description %}
    <p>
      {{ experience.description }}
    </p>
    {% endif %}
  </article>
  {% endfor %}

</div>
