---
layout: default
title: alienlebarge code blog
---

<div id="home">

  <h2>Blog Posts</h2>

  <ul class="layout">
    {% for post in paginator.posts %}
      <li class="layout__item layout">
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="layout__item 1/2">{{ post.date | date_to_string }}</time><!--

        --><a href="{{ post.url }}" class="layout__item 1/2">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <!-- pagination -->
  <ul class="layout pb+">
    <li class="layout__item 1/2">
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/">Previous</a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
      {% endif %}
    </li><!--

 --><li class="layout__item 1/2 text-right">
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </li><!--

  -->
  </ul>
</div>
