---
layout: default
title: alienlebarge code blog
---

<section>
  {% for post in paginator.posts %}
  <article class="pb+">
    <header>
      <h2 class="text-center text-responsive"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="text-center"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time></p>
    </header>
    <p>{{ post.excerpt }}</p>
  </article>
  {% endfor %}
</section>

<!-- pagination -->
<ul class="layout pb+">
  <li class="layout__item 1/2">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      
    {% else %}
      <a href="/page{{ paginator.previous_page }}">Previous</a>
    {% endif %}
  </li><!--

--><li class="layout__item 1/2 text-right">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}">Next</a>
    {% endif %}
  </li><!--

  -->
</ul>
