---
layout: default
title: "@alienlebarge"
---

<div class="container ph">

  <header class="pt+">
    <h1 class="mb0">{{ page.title }}</h1>
    <p class="meta"><span class="sr-only">alienlebarge is </span><abbr title="also know as">aka</abbr> <span class="strong">{{ site.author }}</span> (<a href="/about.html" tilte="More info about the author and this blog">about</a>)</p>
  </header>

<section>
  <ul class="ui-list">
    {% for post in paginator.posts %}
    <li class="ui-list__item ph0">
        <h2 class="m0"><a href="{% if post.external-link %}{{ post.external-link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></h2>
        <p class="meta mb0">
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> {% if post.external-site %} on  {{ post.external-site }} <img data-src="http://www.alienlebarge.ch/assets/iconic/svg/smart/external-link.svg" class="iconic iconic-sm iconic--small-font-size" alt="external-link">{% endif %}
        </p>
    </li>
    {% endfor %}
  </ul>
</section>

  <!-- pagination -->
  <nav role="navigation">
    <ul class="layout p">
      <li class="layout__item 1/2">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="/"><img data-direction="left" data-head="fill-large-angled" data-src="http://www.alienlebarge.ch/assets/iconic/svg/smart/arrow-thick.svg" data-fallback="http://www.alienlebarge.ch/assets/iconic/png/arrow-thick-left-fill-large-angled-md.png" class="iconic" alt="arrow left" aria-hidden="true" /><span class="sr-only">Newer articles</span></a>
          {% else %}
            <a href="/page{{ paginator.previous_page }}"><img data-direction="left" data-head="fill-large-angled" data-src="http://www.alienlebarge.ch/assets/iconic/svg/smart/arrow-thick.svg" data-fallback="http://www.alienlebarge.ch/assets/iconic/png/arrow-thick-left-fill-large-angled-md.png" class="iconic" alt="arrow left" aria-hidden="true" /><span class="sr-only">Newer articles</span></a>
          {% endif %}
        {% endif %}
      </li><!--

    --><li class="layout__item 1/2 text-right">
        {% if paginator.next_page %}
          <a href="/page{{ paginator.next_page }}"><span class="sr-only">Older articles</span><img data-direction="right" data-head="fill-large-angled" data-src="http://www.alienlebarge.ch/assets/iconic/svg/smart/arrow-thick.svg" data-fallback="http://www.alienlebarge.ch/assets/iconic/png/arrow-thick-right-fill-large-angled-md.png" class="iconic" alt="arrow right" aria-hidden="true" /></a>
        {% endif %}
      </li><!--

      -->
    </ul>
  </nav>

</div>
