/*------------------------------------*\
    $WRAPPER
\*------------------------------------*/
.wrapper {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter; // _grid variable
  padding-left: $gutter;  // _grid variable
}
