<head>
  <title>{{ page.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
  <meta name="description" content="{{site.description}}" />
  {% endif %}
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@alienlebarge">
  <meta name="twitter:creator" content="@alienlebarge">
  <meta name="twitter:title" content="{{ page.title }}">
  {% if page.description %}
  <meta name="twitter:description" content="{{page.description}}">
  {% else %}
  <meta name="twitter:description" content="{{site.description}}">
  {% endif %}
  <!--<meta name="twitter:image" content="...">-->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="Rough Though by alienlebarge" href="http://feeds.feedburner.com/alienlebarge">

  <!-- syntax highlighting CSS  -->
  <link rel="stylesheet" href="/stylesheets/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/style.min.css">

  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900" rel="stylesheet" type="text/css">

</head>
