<head>
  <title>{{ page.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimal-ui">
  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
  <meta name="description" content="{{site.description}}" />
  {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@alienlebarge">
  <meta name="twitter:creator" content="@alienlebarge">
  <meta name="twitter:title" content="{{ page.title }}">
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.image %}
  <meta name="twitter:image" content="{{ page.image }}">
  {% endif %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="Rough Though by alienlebarge" href="http://feeds.feedburner.com/alienlebarge">

  <!-- syntax highlighting CSS  -->
  <link rel="stylesheet" href="/stylesheets/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/style.min.css">

  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/pxp8tkl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Icon -->
  <link rel="shortcut icon" href="/alb-logo.png">
  <link rel="apple-touch-icon-precomposed" href="/alb-logo.png">

  <!-- Apple mobile web app title -->
  <meta name="apple-mobile-web-app-title" content="alienlebarge">

  <!-- DNS prefetch -->
  <link rel="dns-prefetch" href="//twitter.com">
  <link rel="dns-prefetch" href="//platform.twitter.com">
  <link rel="dns-prefetch" href="//syndication.twitter.com">
  <link rel="dns-prefetch" href="//pbs.twimg.com">
  <link rel="dns-prefetch" href="//p.typekit.net">
  <link rel="dns-prefetch" href="//use.typekit.net">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//stats.doubleclick.net">
  <link rel="dns-prefetch" href="//www.alienlebarge.ch">
  <link rel="dns-prefetch" href="http://api.tiles.mapbox.com">

  <!-- Resource prefetching -->
  <link rel="prefetch" href="{{ site.iconic_url }}/js/iconic.min.js">
  <link rel="prefetch" href="//use.typekit.net/pxp8tkl.js">

  {% if paginator %}
  <!-- Prerender pagination page -->
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
  <link rel="prerender" href="http://blog.alienlebarge.ch">
      {% else %}
  <link rel="prerender" href="http://blog.alienlebarge.ch/page{{ paginator.previous_page }}">
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
  <link rel="prerender" href="http://blog.alienlebarge.ch/page{{ paginator.next_page }}">
    {% endif %}
  {% else %}
  <!-- Prerender homepage -->
  <link rel="prerender" href="http://blog.alienlebarge.ch">
  {% endif %}
</head>
