<head>
  <title>{{ page.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
  <meta name="description" content="{{site.description}}" />
  {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@alienlebarge">
  <meta name="twitter:creator" content="@alienlebarge">
  <meta name="twitter:title" content="{{ page.title }}">
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.image %}
  <meta name="twitter:image" content="{{ page.image }}">
  {% endif %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="Rough Though by alienlebarge" href="http://feeds.feedburner.com/alienlebarge">

  <!-- syntax highlighting CSS  -->
  <link rel="stylesheet" href="/stylesheets/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/style.min.css">

  <!-- Iconic -->
  <script src="http://www.alienlebarge.ch/assets/iconic/js/iconic.min.js"></script>
  <script src="javascripts/iconic.js"></script>

  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/pxp8tkl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <meta name="apple-mobile-web-app-title" content="alienlebarge">

</head>
