<div class="relative">
  <nav class="primary-navigation" role="navigation">
    <a href="/" class="btn btn--small m">
      <img data-direction="left" data-head="fill-large-angled" data-src="http://www.alienlebarge.ch/assets/iconic/svg/smart/arrow-thick.svg" data-fallback="http://www.alienlebarge.ch/assets/iconic/png/black/standard/arrow-thick-left-fill-large-angled-sm.png" src="http://www.alienlebarge.ch/assets/iconic/png/black/standard/arrow-thick-left-fill-large-angled-sm.png" class="iconic iconic-sm" alt="arrow left" aria-hidden="true" />
      <span class="sr-only">Back to homepage</span>
    </a>
  </nav>
</div>
