<div class="relative">
  <nav class="primary-navigation" role="navigation">
    <a href="/" class="btn btn--small m">
      <img data-src="http://www.alienlebarge.ch/assets/iconic/svg/smart/menu.svg" data-fallback="http://www.alienlebarge.ch/assets/iconic/png/black/standard/menu-sm.png" src="http://www.alienlebarge.ch/assets/iconic/png/black/standard/menu-sm.png" class="iconic iconic-sm" alt="menu" aria-hidden="true" />
      <span class="sr-only">Back to homepage</span>
    </a>
  </nav>
</div>
