/*doc
---
title: Quote
name: quote
category: Typography
---


```html_example
<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</blockquote>
```
*/





/*doc
---
title: Blockquote
name: blockquote
parent: quote
---


```html_example
<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</blockquote>
```
*/
blockquote {
  font-style: italic;
  margin: 0 $inuit-base-spacing-unit;
}
