/*doc
---
title: Iconic
name: iconic
category: Componment
---
*/





/*doc
---
title: Iconic link
name: iconic-link
parent: iconic
---

Link style for iconic icons.
Same style as the default links.
*/
a .iconic {

  fill: $inuit-base-text-color;
  @include transition(all, 200ms, ease);

  &:hover {
    fill: $base-primary-color;
    @include transition(all, 200ms, ease);
  }
  
}
