/*doc
---
title: Buttons
name: buttons
category: Button
---

```html_example
<a href="#" class="btn">button</a>
```
*/
$inuit-btn-background:    rgba(255,255,255,0.25);
$inuit-btn-color:         $inuit-base-text-color;
$inuit-btn-border-color:  none;
$inuit-btn-radius:        quarter($inuit-base-spacing-unit);
$inuit-enable-btn--small: true;
@import "../bower_components/inuit-buttons/objects.buttons";




/**
 * No underline on button
 *
 * The underline component add a background and a text-shadow on evry links.
 * We don't want that on buttons
 */
a.btn:hover {
  background: none;
  text-shadow: none;
}
