<!doctype html>
<html>
  <head>
    <title>alb styleguide: <%= title %></title>
    <link rel="stylesheet" href="../stylesheets/style.min.css">
    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/pxp8tkl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
        <% @categories.each do |category, file_name| %>
          <li><a href="<%= file_name %>"><%= category %></a></li>
        <% end %>
        </ul>
      </nav>

      <h1>blog.alienlebarge.ch's styleguide</h1>
      <section class="content">
        <ul>
        <% @blocks.each do |b| %>
          <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
        <% end %>
        </ul>
