// We import types of file in the following order:
//
// Settings -- Sass vars, etc.
// Tools -- Functions and mixins.
// Generic -- Generic, high-level styling, like resets, etc.
// Base -- Unclasses HTML elements (e.g. `h2`, `ul`).
// Object -- Objects and abstractions.
// Components -- Your designed UI elements (inuitcss includes none of these).
// Trumps -- Overrides and helper classes.
//
// These shearing layers are what make inuitcss so scalable.






/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
@import "settings.defaults/settings.defaults";






/*------------------------------------*\
    #TOOLS
\*------------------------------------*/
@import "tools.functions/tools.functions";
@import "tools.mixins/tools.mixins";






/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
@import "generic.normalize/generic.normalize";
@import "generic.reset/generic.reset";
@import "generic.box-sizing/generic.box-sizing";
@import "generic.shared/generic.shared";
@import "generic.clearfix/generic.clearfix";






/*------------------------------------*\
    #BASE
\*------------------------------------*/
@import "base.page/base.page";
@import "base.paragraphs/base.paragraphs";
@import "base.headings/base.headings";
@import "base.lists/base.lists";
@import "base.tables/base.tables";
@import "base.images/base.images";

html {
  font-family: 'Lora', serif;
}




/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/
@import "objects.layout/objects.layout";
@import "objects.media/objects.media";
$inuit-enable-flag--rev:  true;
@import "objects.flag/objects.flag";
@import "objects.box/objects.box";
@import "objects.tabs/objects.tabs";
@import "trumps.widths/trumps.widths";






/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
$inuit-enable-margins:          true;
$inuit-enable-margins--small:   true;
$inuit-enable-margins--large:   true;
$inuit-enable-margins--none:    true;

$inuit-enable-paddings:         true;
$inuit-enable-paddings--small:  true;
$inuit-enable-paddings--large:  true;
$inuit-enable-paddings--none:   true;
@import "trumps.spacing/trumps.spacing";
