@import

        "settings.defaults/settings.defaults",

        "tools.functions/tools.functions",
        "tools.mixins/tools.mixins",

        "generic.normalize/generic.normalize",
        "generic.reset/generic.reset",
        "generic.box-sizing/generic.box-sizing",
        "generic.shared/generic.shared",
        "generic.clearfix/generic.clearfix",

        "base.page/base.page",
        "base.paragraphs/base.paragraphs",
        "base.headings/base.headings",
        "base.lists/base.lists",
        "base.tables/base.tables",
        "base.images/base.images"

;

@import

        "objects.layout/objects.layout"

;

@import

        "objects.media/objects.media"

;

$inuit-enable-flag--rev:  true;
@import

        "objects.flag/objects.flag"

;

@import

        "objects.box/objects.box"

;

@import

        "objects.tabs/objects.tabs",

        "trumps.widths/trumps.widths"

;

$inuit-enable-margins:          true;
$inuit-enable-margins--small:   true;
$inuit-enable-margins--large:   true;
$inuit-enable-margins--none:    true;

$inuit-enable-paddings:         true;
$inuit-enable-paddings--small:  true;
$inuit-enable-paddings--large:  true;
$inuit-enable-paddings--none:   true;
@import

        "trumps.spacing/trumps.spacing"

;
