/*doc
---
title: Paragraph
name: paragraph
category: Typography
---
*/





/*doc
---
title: Lede
name: lede
parent: paragraph
---

Lede is the same font as the headings.
It can be use for intriduction paragraph.

```html_example
    <p class="lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae placeat nam, doloremque, dignissimos nemo debitis.</p>
```
*/
.lede,
%lede {
    font-family: $base-headings-font-family;
    font-weight: 300;
}





/*doc
---
title: Small
name: small
parent: paragraph
---

Lede is the same font as the headings.
It can be use for intriduction paragraph.

```html_example
    <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae placeat nam, doloremque, dignissimos nemo debitis.</p>
    <p>Lorem ipsum <small>dolor sit amet</small>, consectetur adipisicing elit. Perferendis, assumenda?</p>
```
*/
// Predefine the variables below in order to alter and enable specific features.
$small-size : 0.85 !default;

.small,
%small,
small {
  @include inuit-font-size($inuit-base-font-size * $small-size);
  font-family: $base-small-font-family;
}





/*doc
---
title: Strong
name: strong
parent: paragraph
---

```html_example
    <p class="strong">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae placeat nam, doloremque, dignissimos nemo debitis.</p>
    <p>Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit. Perferendis, assumenda?</p>
```
*/
.strong,
%strong,
strong {
  font-weight: bold;
}
