/*doc
 ---
 title: Link
 name: link
 category: Link
 ---
*/





/*doc
---
title: Default link
name: default-link
parent: link
 ---

Determine the color of link.
`:hover` highlight the link when hovered.

```html_example
    <a href="#">Link</a>

    <p><a href="#">Link</a></p>
```
*/
a {
  color: $inuit-base-text-color;
  @include transition(color, 200ms, ease);
  @include underline();

  &:hover {
    color: $base-primary-color;
    @include transition(color, 200ms, ease);
  }
}





/*doc
 ---
title: No underlined link
name: no-underlined-link
parent: link
---

If you do not want to underline a link.
`:hover` highlight & undeline the link when hovered.

```html_example
    <a href="#" class="no-underline">Link</a>
```
*/
.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
