/*doc
---
title: Image
name: image
category: Image
---
*/



/*doc
---
title: Figure
name: figure
parent: image
---

```html_example
    <figure>
      <img src="http://placekitten.com/g/200/300" alt="image">
    </figure>
```
*/
figure {
  @include breakpoint(lg) {
    position: relative;
  }
}





/*doc
---
title: Figcaption
name: figcaption
parent: image
---

```html_example
    <figure>
      <img src="http://placekitten.com/g/200/300" alt="image">
      <figcaption>A cute kitty</figcaption>
    </figure>
```
*/
figcaption {
  @extend %small;
  @include breakpoint(lg) {
    position: absolute;
    top: 0;
    left: $inuit-base-spacing-unit * -8;
    width: $inuit-base-spacing-unit * 7;
    text-align: right;
  }
}
