/*doc
---
title: Code
name: code
category: Code
---
*/





/*doc
---
title: Codeblock
name: pre
parent: code
---

Use an explicit font stack to ensure browsers render correct `line-height`.

```html_example
<pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</pre>
```
*/
pre {
  font-size: ($inuit-base-font-size * 0.6 / 16px) * 1em;
  font-family: $base-code-font-family;
  overflow:auto;
  white-space:pre;
  word-wrap:normal;
  background-color:#333;
  overflow:auto;
  color:#fff;
  padding: $inuit-base-spacing-unit/2;
  @include rounded(2px);
  @include shadow(0, 0, 15px, rgba(0,0,0,0.25));

  mark{
    background:none;
    border-bottom:1px solid;
    color:inherit;
  }
}





 /*doc
---
title: Inline code
name: inline-code
parent: code
---

```html_example
<code>Hello</code>
```

```html_example
<kbp>Hello</kbp>
```

```html_example
<samp>Hello</samp>
```
*/
code,
kbd,
samp {
  font-family: $base-code-font-family;
}

p, ul {
 code {
    font-size: ($inuit-base-font-size * 0.6 / 16px) * 1em; /* Override `pre` font-size */
    background-color: #f8f8f8;
    @include rounded(2px);
  }
}
