/*------------------------------------*\
    #PAGE
\*------------------------------------*/





/*doc
 ---
 title: html
 name: html
 category: base
 ---

Basic settings for font are set in `html`.
*/
html {
    font-family: $base-font-family;
    font-weight: 100;
}
