/*doc
---
title: Page
name: page
category: base
 ---
*/
@import "../bower_components/inuit-page/base.page";





/*doc
 ---
title: html
name: html
parent: page
 ---

Basic settings for font are set in `html`.
*/
html {
    font-family: $base-font-family;
    font-weight: 100;
}
