/*------------------------------------*\
    #PAGE
\*------------------------------------*/





/**
 * 1. Make the `.header-image` componment work
 */
html {
    height: 100%; /* 1 */
    font-family: $base-font-family;
    font-weight: 100;
}





/**
 * 1. Make the `.header-image` componment work
 */
body {
  height: 100%; /* 1 */
}
