/*------------------------------------*\
    #LINKS
\*------------------------------------*/





/**
 * Basic link
 *
 * Determine the color of link
 * `:hover` highlight the link when hovered.
 *
 * Example HMTL:
 *
 * <a href="#">This is a link</a>
 * <a href="#" class=":hover">This is a link</a>
 */
a {
  color: $inuit-base-text-color;

  &:hover {
    color: $base-primary-color;
  }
}





/**
 * No underlined link
 *
 * If you do not want to underline a link
 * `:hover` highlight & undeline the link when hovered.
 *
 * Example HTML:
 *
 * <a href="#" class="no-underline">This is a link</a>
 * <a href="#" class="no-underline :hover">This is a link</a>
 */
.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
