/*doc
---
title: Headers
name: headers
category: Typography
---


```html_example
    <h1>Heading 1</h1>
    <p class="alpha">Paragraph with h1 style</p>
```
```html_example
    <h2>Heading 2</h2>
    <p class="beta">Paragraph with h2 style</p>
```
```html_example
    <h3>Heading 3</h3>
    <p class="gamma">Paragraph with h3 style</p>
```
```html_example
    <h4>Heading 4</h4>
    <p class="delta">Paragraph with h4 style</p>
```
```html_example
    <h5>Heading 5</h5>
    <p class="epsilon">Paragraph with h5 style</p>
```
```html_example
    <h6>Heading 6</h6>
    <p class="zeta">Paragraph with h6 style</p>

```
*/


// Variables
$inuit-heading-size-1:  40px !default;
$inuit-heading-size-2:  32px !default;
$inuit-heading-size-3:  24px !default;
$inuit-heading-size-4:  20px !default;
$inuit-heading-size-5:  16px !default;
$inuit-heading-size-6:  14px !default;

@import "../bower_components/inuit-headings/base.headings";

h1,
.#{$inuit-namespace}alpha,
%#{$inuit-namespace}alpha,
h2,
.#{$inuit-namespace}beta,
%#{$inuit-namespace}beta,
h3,
.#{$inuit-namespace}gamma,
%#{$inuit-namespace}gamma,
h4,
.#{$inuit-namespace}delta,
%#{$inuit-namespace}delta,
h5,
.#{$inuit-namespace}epsilon,
%#{$inuit-namespace}epsilon,
h6,
.#{$inuit-namespace}zeta,
%#{$inuit-namespace}zeta {
  font-family: $base-headings-font-family;
  letter-spacing: -0.025em;
  font-weight: bold;
}
