/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/





/*doc
---
title: Primary Navigation
name: primary-navigation
category: componment
---

```
<div class="primary-navigation">
  <a>...</a>
<div>
```
*/
.primary-navigation {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
}
