/*doc
---
title: Image shape
name: image-shape
category: Componment
---
Square image are boring (or not).
*/





/*doc
---
title: Image circle
name: image-circle
parent: image-shape
---

Put your image into circle.
The height and weight have to be the same (square).

```html_example
<figure>
  <img class="image-circle" src="http://placekitten.com/g/75/75" alt="image">
</figure>
```
*/
.image-circle {
  border-radius: 50%;
}
