/*doc
---
title: Types
name: types
category: Helpers
---

*/




/*doc
---
title: Text left
name: text-left
parent: types
---

Left aligned text

```html_example
<p class="align-left">Align me!</p>
```
*/
.text-left {
  text-align: left;
}





/*doc
---
title: Text center
name: text-center
parent: types
---

Center aligned text

```html_example
<p class="text-center">Align me!</p>
```
*/
.text-center {
  text-align: center;
}





/*doc
---
title: Text right
name: text-right
parent: types
---

Right Aligned text

```html_example
<p class="text-right">Align me!</p>
```
*/
.text-right {
  text-align: right;
}





/*doc
---
title: Text justify
name: text-justify
parent: types
---

Justified text

```html_example
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta minima quam tempora soluta illum dolore libero. Quidem perferendis, voluptatum, optio dignissimos itaque quaerat nihil fugiat iusto, aperiam mollitia earum non?</p>
```
*/
.text-justify {
  text-align: justify;
}





/*doc
---
title: Font weight normal
name: font-weight-normal
parent: types
---

Set the font weight to normal

```html_example
<h1 class="font-weight-normal">Heading with normal weight</h1>
```
*/
.font-weight-normal {
  font-weight: 400;
}





/*doc
---
title: Meta
name: meta
parent: types
---

Design for article meta information

```html_example
<p class="meta">This is meta information</p>
```
*/
.meta {
  font-family    : $base-headings-font-family;
  letter-spacing : -0.015em;
  font-weight    : 400;
  @include inuit-font-size($inuit-heading-size-6);
}
