/*doc
---
title: Border
name: border
category: Componment
---
Add border to your content.

`.b(t|r|b|l) {}` = border top/right/bottom/left
*/





// Predefine the variables below in order to alter and enable specific features.
$border-width:    1px !default;
$border-style:    solid !default;
$border-color:    #ccc !default;

$enable-border-top:    false !default;
$enable-border-right:  false !default;
$enable-border-bottom: false !default;
$enable-border-left:   false !default;





@if $enable-border-top == true {

  /*doc
   ---
   title: Border top
   name: border-top
   parent: border
   ---


  ```html_example
      <div class="bt">Content</div>
  ```
  */
  .bt {
    border-top: {
      width: $border-width;
      style: $border-style;
      color: $border-color;
    }
  }

}





@if $enable-border-right == true {

  /*doc
   ---
   title: Border right
   name: border-right
   parent: border
   ---


  ```html_example
      <div class="br">Content</div>
  ```
  */
  .br {
    border-right: {
      width: $border-width;
      style: $border-style;
      color: $border-color;
    }
  }

}





@if $enable-border-bottom == true {

  /*doc
   ---
   title: Border bottom
   name: border-bottom
   parent: border
   ---


  ```html_example
      <div class="bb">Content</div>
  ```
  */
  .bb {
    border-bottom: {
      width: $border-width;
      style: $border-style;
      color: $border-color;
    }
  }

}





@if $enable-border-left == true {

  /*doc
   ---
   title: Border left
   name: border-left
   parent: border
   ---


  ```html_example
      <div class="bl">Content</div>
  ```
  */
  .bl {
    border-left: {
      width: $border-width;
      style: $border-style;
      color: $border-color;
    }
  }

}
