/*doc
---
title: Header image
name: header-image
category: Componment
---

Put a big image in the header that fit the screen

```
<header class="header-image" style="background-image: url('...')">
  <figure class="header-image__hidden-image">
    <img src="...">
  </figure>
  <div class="header-image__text-container">
    <h1 class="mb0 pt">Title</h1>
    <p class="meta">Meta info</p>
  </div>
</header>
```
*/

// Predefine value
$header-image-text-color: #fff !default;

.header-image {
  // size
  height: 100vh;
  min-height: 300px;

  // background things
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include breakpoint(xs){
    background-attachment: scroll;  /*  Fixed background image cost too much ressource on mobile */
  };
  @include breakpoint(sm){
    background-attachment: fixed;  /*  Fixed background image cost too much ressource on mobile */
  };

  // flexbox things
  @include flexbox;
  @include align-items(flex-end);
}






/*doc
---
title: Header image text container
name: header-image__text-container
parent: header-image
---

The title and meta inf have to be in a `div` with class `header-image__text-container`.

```
<div class="header-image__text-container">
  <h1 class="mb0 pt">Title</h1>
  <p class="meta">Meta info</p>
</div>
```

Add `.container` if you want the title to have the same width as the content.

```
<div class="header-image__text-container container">
  <h1 class="mb0 pt">Title</h1>
  <p class="meta">Meta info</p>
</div>
```
*/
.header-image__text-container {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;

  color: $header-image-text-color;
  z-index: 1;
}





/*doc
---
title: Header image overlay
name: header-image--overlay
parent: header-image
---

Add a background gradient to improve the legibility of the text.

```
<header class="header-image header-image--overlay" style="background-image: url('...')">
  ...
</header>
```
*/
.header-image--overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
}





/*doc
---
title: Header image hidden image
name: header-image__hidden-image
parent: header-image
---

If CSS are unactivated in the browser. The background image in the header
will not be shown. So we add a `<figure><img></figure>` in the header.
Yeah! That's progressive enhancement

```
<figure class="header-image__hidden-image">
  <img src="...">
</figure>
```
*/
.header-image__hidden-image {
  @include sr-only;
}
