/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/





/**
 * Example HTML:
 *
 * <div class="primary-navigation">
 *   <a>...</a>
 * <div>
 */
.primary-navigation {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
}
