/*doc
---
title: List UI
name: list-ui
category: List
---

The `list-ui` object creates blocky, keyline-delimited list items.

```html_example
<ul class="list-ui">
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>
```
*/
@import "../bower_components/inuit-list-ui/objects.list-ui";




/*doc
---
title: List inline
name: list-inline
category: List
---

The List-inline object simply displays a list as one horizontal row.

```html_example
<ul class="list-inline">
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>
```
*/
@import "../bower_components/inuit-list-inline/objects.list-inline";
