/*doc
---
title: Helper classes
name: helper-classes
category: componment
---
*/





/*doc
---
title: Center block
name: center-block
parent: helper-classes
---

Set an element to `display: block` and center via `margin`.

```html_example
<div class="center-block">
  ...
</div>
```
*/
.center-block {
  @include center-block;
}





/*doc
---
title: Pull right
name: pull-right
parent: helper-classes
---

Float element to the right

```html_example
<div class="pull-right">
  ...
</div>
```
*/
.pull-right {
  float: right !important;
}





/*doc
---
title: Screen reader only
name: sr-only
parent: helper-classes
---

Hide an element to all devices except screen readers with `.sr-only`.
Necessary for following accessibility best practices.

```html_example
<a class="sr-only" href="#content">Skip to main content</a>
```
*/
.sr-only {
  @include sr-only;
}





/**
 * Relative
 *
 * Set the position to relative to help some positioning
 */
/*doc
---
title: Relative
name: relative
parent: helper-classes
---

Set the position to relative to help some positioning

```html_example
<div clas="relative">...</div>
```
*/
.relative {
  position: relative;
}
