/*doc
---
title: Settings
name: custom-settings
category: Settings
---
*/






/*doc
---
title: Font settings
name: 01-font-settings
parent: custom-settings
---

```scss
$base-font-family:          "freight-text-pro", Georgia, serif;
$base-small-font-family:    "freight-micro-pro", $base-font-family;
$base-headings-font-family: "ff-dax-compact-web-pro", serif;
$base-code-font-family:     "inconsolata", Courier, monospace;
```
*/
$base-font-family:          "freight-text-pro", Georgia, serif;
$base-small-font-family:    "freight-micro-pro", $base-font-family;
$base-headings-font-family: "ff-dax-compact-web-pro", serif;
$base-code-font-family:     "inconsolata", Courier, monospace;





/*doc
---
title: Color
name: 02-color
parent: custom-settings
---

```scss
$base-primary-color:    #ff5867;
```
*/
$base-primary-color:    #ff5867;





/*doc
---
title: Breakpoint
name: 03-breakpoint
parent: custom-settings
---

```scss
$base-break-xs: 500px;
$base-break-sm: 900px;
$base-break-md: 1200px;
```
*/
$base-break-xs: 500px;
$base-break-sm: 900px;
$base-break-md: 1200px;





$inuit-base-font-size:          20px;
$inuit-base-line-height:        28px;
$inuit-base-text-color:         #333;
$inuit-base-background-color:   #fff;
@import "../bower_components/inuit-defaults/settings.defaults";





/*doc
---
title: Underline settings
name: 04-underline
parent: custom-settings
---
*/
$underline-position:          1px;
$underline-width:             1px;
$underline-background-color:  $inuit-base-background-color !default;

$underline-link-color:        $inuit-base-text-color;
$underline-link-color--hover: $base-primary-color;





/*doc
---
title: Viewport
name: 05-viewport
parent: custom-settings
---
*/
$inuit-viewport: (width: device-width, initial-scale: 1);
