// Header image
//
// Put a big image in the header
//
// 1. Prevent iOS to not showing the content
// 2. Vertical align the text at the bottom of the header
// 3. Backgournd properties. The image is set in the HTML for CMS purpose
// 4. Center the title
// 5. Force smooth scroll on iOS

.header-image {
  position: relative; // 2.
  height: 100%;
  overflow: scroll; // 1.
  -webkit-overflow-scrolling: touch; // 5.

  @at-root .header-image__image {
    height: $base-header-height;

    background-position: center center; // 3.
    background-repeat: no-repeat; // 3.
    background-size: cover; // 3.
  }

  @at-root .header-image__content {
    color: #fff;

    position: absolute; // 2.
    bottom: 0; // 2.
    left: 0;
    width: 100%; // 4.

    @at-root .header-image__content__container{
      @extend %container; // 4.
    }
  }
}





.header-image__image--no-image {
  @extend .header-image__image;
  background-color: $base-primary-color;
}






.background-gradient {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    height: $base-header-height;

    background-image:
      linear-gradient(to bottom, rgba(0,0,0,0) $base-header-height/2, rgba(0,0,0,0.4) $base-header-height);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; // 2.
  }
}
