// # Separators
//
// Visual separation between two sections
//
//   1. Disable `<hr>`
//   2. Pseudo center the font `content`
//   3. Don't strike thtough the text
//   4. Make it works even with no centered content
//   5. Prevent the dots to overlap outside the parent element
//
// ```
// <h1 class="separators"><span>Heading in a span</span></h1>
// <h1 class="separators"><span>Centered heading in a span</span></h1>
// <p class="separators"><span>Paragraph in a span</span></h1>
// <h1 class="separators"><a hre="#">Link</a></h1>
// ```
.separators {

  @extend .epsilon;
  text-align: center;
  font-weight: normal;
  font-variant: small-caps;

  overflow: hidden;
  border: none;                   // [1]

  position: relative;             // [5]

  &::before {
    content: "··············································································································································································································································································································································································································································································································";
    letter-spacing: 0.5em;
    @include font-size($heading-size-5 * 0.5);

    display: block;               // [5]
    position: absolute;           // [2]
    z-index: -1;                  // [3]
    overflow: visible;            // [5]
  }

  > * {
    background-color: $base-background-color;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: -0.5em;          // [4]
    margin-right: -0.5em;         // [4]
    z-index: 1;                   // [3]
  }

}
