// # Types
//
// Everything about typography





// # Alignemnent classes
//
// Align the text






// ## Align left
//
// Left aligned text
//
//    <p class="align-left">Align me!</p>
.text-left {
  text-align: left;
}





// ## Align center
//
// Center aligned text
//
//    <p class="align-center">Align me!</p>
.text-center {
  text-align: center;
}





// ## Align right
//
// Right Aligned text
//
//    <p class="align-right">Align me!</p>
.text-right {
  text-align: right;
}





// ## Align justify
//
// Justified text
//
//    <p class="align-justify">Align me!</p>
.text-justify {
  text-align: justify;
}





// # Font-weight-normal
//
// Set the font weight to normal
//
//     <h1 class="font-weight-normal">Heading with normal weight</h1>
.font-weight-normal {
  font-weight: 400;
}
