<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS  -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>

      <header>
        <p class="h1"><a href="/">{{ site.name }}</a></p>
      </header>

      {{ content }}

      <footer>
        <h2>Contact</h2>
        <ul>
          <li><a href="http://github.com/alienlebarge/">github.com/alienlebarge</a></li>
          <li><a href="http://twitter.com/alienlebarge/">twitter.com/alienlebarge</a></li>
        </ul>
      </footer>

    </body>
</html>
