<!DOCTYPE html>
<html>
{% include head.html %}
<body>

{% if page.image %}
<div class="header-image background-gradient">

  {% include navigation.html %}

  <header class="header-image__image" style="background-image: url('{{ page.image }}')">
{% else %}
<article class="header-image">

  {% include navigation.html %}

  <header class="header-image__image--no-image">
  {% endif %}
    <div class="header-image__content">
      <div class='header-image__content__container'>
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </header>

  <div class="container mt">
    {{ content }}
  </div>

</div>

{% include google-analytics-script.html %}
</body>
</html>
