---
layout: blog
---

{% if page.coordinates %}
<article class="header-image background-gradient">

  <div class="relative">
    <nav class="primary-navigation">
      <a href="/" class="p primary-navigation__block"><i class="fa fa-long-arrow-left"></i></i><span class="sr-only">Menu</span></a>
    </nav>
  </div>

  {% if page.markers %}
  <header class="header-image__image" style="background-image: url('http://api.tiles.mapbox.com/v4/{{ site.mapbox_mapid }}/{% for marker in page.markers %}{% if marker.name %}{{ marker.name }}{% else %}pin-m{% endif %}{% if marker.label %}-{{marker.label}}{% endif %}({% for coordinate in marker.coordinates limit:1 %}{{ coordinate }}{% endfor %}){% if forloop.last %}{% else %},{% endif %}{% endfor %}/{% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %},{% if page.zoom %}{{ page.zoom }}{% else %}15{% endif %}/800x800.png?access_token={{ site.mapbox_token }}')">
  {% else %}
  <header class="header-image__image" style="background-image: url(http://api.tiles.mapbox.com/v4/{{ site.mapbox_mapid }}/{% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %},{% if page.zoom %}{{ page.zoom }}{% else %}15{% endif %}/800x800.png?access_token={{ site.mapbox_token }})">
  {% endif %}

{% elsif page.image %}
<article class="header-image background-gradient">

  <div class="relative">
    <nav class="primary-navigation">
      <a href="/" class="p primary-navigation__block"><i class="fa fa-long-arrow-left"></i></i><span class="sr-only">Menu</span></a>
    </nav>
  </div>

  <header class="header-image__image" style="background-image: url('{{ page.image }}')">
{% else %}
<article class="header-image">

  <div class="relative">
    <nav class="primary-navigation">
      <a href="/" class="p primary-navigation__block"><i class="fa fa-long-arrow-left"></i></i><span class="sr-only">Menu</span></a>
    </nav>
  </div>

  <header class="header-image__image--no-image">
  {% endif %}
    <div class="header-image__content">
      <div class='header-image__content__container'>
        <h1 class="mb0">{{ page.title }}</h1>
        <p class="meta">by <span class="strong">{% if page.author %}by{{ page.author }}{% else %}C&eacute;dric Aellen{% endif %}</span> / <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>{% if page.external-site %} / <a href="{{ page.external-link }}" title="The article on {{ page.external-site }}">{{ page.external-site }}</a> <i class="fa fa-external-link"></i>{% endif %}</p>
      </div>
    </div>
  </header>

  <div class="container mt">
    {{ content }}
  </div>

</article>
