/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */

@if $typecsset-show-baseline == true {
/**
 * 3. If you have chosen to display a baseline grid, we turn it on here.
 */
}

html {
    font-size: $typecsset-base-font-size / 16px + em; /* [1] */
    line-height: $typecsset-base-line-height / $typecsset-base-font-size; /* [2] */

    // If you have chosen to display a baseline grid, we turn it on here.
    @if $typecsset-show-baseline == true {

        $typecsset-baseline-size: typecsset-strip-units($typecsset-magic-number);

        background-image: url(http://basehold.it/i/#{$typecsset-baseline-size}); /* [3] */
    }

}

body {
    margin: 0;
}
